{% extends 'base.html' %}

{% block content %}

<body class="dark:bg-slate-800 w-screen h-screen flex flex-col items-center justify-center gap-4">
    <script type="module">
      import "https://js.supertab.co/v1/tab.js";
      window.supertab.createPurchaseButton({
        containerElement: document.getElementById("button-container"),
        clientId: "client.d0bbefda-39bb-406b-a0f2-d45cd1522990",
        merchantName: "Penguin Jokes",
        merchantLogoUrl: "https://filipa.pythonanywhere.com/static/img/thinking.svg",
        offeringId: "offering.0af943fa-3655-4058-83f4-a05efb351a5e", // optional
        onPurchaseCompleted: () => {
          //insert your code to grant user access
          console.log("Purchase completed!");
        },
        onPurchaseCanceled: () => {
          //insert your code to handle when purchase is not completed
          console.log("Purchase canceled!");
        },
        onError: () => {
          //insert your code to handle an unexpected error
          console.log("Purchase error!");
        },
      });
    </script>

    <!-- include the joke fragment -->
    {% include 'joke.html' %}
</body>
</html>
{% endblock %}
