<div class="bg-cyan-50 bg-opacity-10 p-6 rounded-lg shadow-xl">
  <div id="joke" class="flex max-w-sm mx-auto bg-white rounded-xl shadow-lg p-6 gap-4 relative">
    <img id="joke-logo-thinking" class="w-20 absolute left-[-50px] top-[-50px]"
      src="{{ url_for('static', filename='img/thinking.svg') }}">

    <div id="joke-full" class="hidden">{{ joke }}</div>
    <div class="text-xl font-medium text-black">
      <div id="joke-question">{{ question }}</div>
      <div id="joke-answer" class="text-slate-500 mt-5">{{ answer }}</div>
    </div>
  </div>

  <div class="flex justify-center mt-8 mb-8 gap-4">
    <button onclick="countJokes2()"
      class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-full shadow transition duration-200 ease-in-out hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
      Laugh
    </button>

    <button onclick="getExplanation()"
      class="px-6 py-3 bg-green-500 text-white font-semibold rounded-full shadow transition duration-200 ease-in-out hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
      Explain
    </button>

    <audio id="joke-audio" class="hidden"></audio>
    <button onclick="getAudio()"
      class="px-6 py-3 bg-red-500 text-white font-semibold rounded-l-full shadow transition duration-200 ease-in-out hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
      Read
    </button><select id="voice-select" onchange="clearAudio()"
      class="py-3 px-2 bg-red-400 text-white text-sm rounded-r-full shadow cursor-pointer border-0 focus:outline-none hover:bg-red-500 appearance-none">
      <option value="random">🎲</option>
      <option value="alloy">alloy</option>
      <option value="echo">echo</option>
      <option value="fable">fable</option>
      <option value="onyx">onyx</option>
      <option value="nova">nova</option>
      <option value="shimmer">shimmer</option>
    </select>

    <button onclick="getImage()"
      class="px-6 py-3 bg-violet-500 text-white font-semibold rounded-full shadow transition duration-200 ease-in-out hover:bg-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-opacity-50">
      Draw
    </button>
  </div>

  <div id="joke-explanation" class="flex max-w-sm mx-auto bg-white rounded-xl shadow-lg p-6 gap-4 relative hidden">
    <img id="joke-logo-happy" class="w-20 absolute left-[-50px] top-[-50px]"
      src="{{ url_for('static', filename='img/happy.svg') }}">
    <div class="text-xl font-medium text-black">
      <div id="explanation"></div>
    </div>
  </div>

  <div id="image-explanation" class="flex max-w-sm mx-auto bg-white rounded-xl shadow-lg p-6 gap-4 relative hidden">
    <img id="joke-image" src="" class="object-contain">
  </div>
</div>
